.git/
.settings/
.vscode/
dist/test/
examples/
node_modules/
src/
temp/
typings/
umd-template/
.coveralls.yml
.editorconfig
.gitattributes
.gitignore
.travis.yml
browserify.js
karma.conf.js
RELEASING.TXT
runtests.js
tsconfig.json
tslint.json
