.git/
.settings/
.vscode/
coverage/
dist/test/
examples/
node_modules/
src/
temp/
typings/
tzdata/
.coveralls.yml
.editorconfig
.gitattributes
.gitignore
.travis.yml
browserify-karma.js
browserify-umd.js
karma.conf.js
minify-umd.js
RELEASING.TXT
runtests.js
tsconfig.json
tslint.json
